<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <!-- <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo-light.png" alt="logo" width="264" height="78"></a> -->
            <a class="logo" href="/"><span>LOGO HERE</span></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li><a href="/mobile-telematics-installations/">Mobile Telematics Installations</a></li>
                    <li><a href="/fleet-electronics-solutions/">Fleet Electronics Solutions</a></li>
                    <li><a href="/consultative-solution-design/">Consultative Solution Design</a></li>
                    <li><a href="/device-sales/">Device Sales</a></li>
                    <li><a href="/system-upgrades-retrofits/">System Upgrades & Retrofits</a></li>
                    <li><a href="/project-management/">Project Management</a></li>
                    <li><a href="/maintenance-support/">Maintenance & Support</a></li>
                    <li><a href="/training-education/">Training & Education</a></li>
                    <li><a href="/compliance-services/">Compliance Services</a></li>
                    <li><a href="/specialized-installations/">Specialized Installations</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">Denver, CO</a>
                    </li>
                    <li>
                        <a href="tel:720-429-7796">T: (720) 429-7796</a>
                    </li>
                    <li>
                        <a href="mailto:Dispatch@teamfueldenver.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://www.kalamazoowebsitedesign.com" target="_blank" rel="noopener">Kalamazoo Website Design</a>
        <span class="copyright"> Copyright 2025 - Present</span>
    </div>
</footer>